GRAPHQL_ENDPOINT=http://localhost:8083/graphql
POSTHOG_API_KEY=
POSTHOG_HOST=
VITE_SERVER_BASE=https://viewer.int.scarlettparker.co.uk
SERVER_HOST=0.0.0.0
SERVER_PORT=5177
ALLOWED_HOSTS=viewer.int.scarlettparker.co.uk,host.docker.internal,localhost
